	/* Album image, title, band, album date */
	#backgroundImage {
		margin: auto;
		width: 40px;
		height: 40px;
	}
	
	#bandSite {
		text-align: center;
	}
	
	h1 {
		font-family: 'Lalezar', cursive;
		text-align: center;
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
		background-color: tan;
	}
	
	h3 {
		text-align: center;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}
	
	/* Band members and tracks */
	#members {
		font-family: 'Lalezar', cursive;
		text-align: center;
	}
	
	ul {
		margin-left: 160px;
	}
	
	li {
		font-style: italic;
	}
	
	th {
		text-align: center;
	}
	
	table, th, td {
		border: 1px solid black;
		
	}
	
	#tableCaption {
		text-align: center;
		color: black;
		font-family: none;
	}
	
	td {
		height: 25px;
		width: 25px;
		vertical-align:middle;
		text-align: center;
		font-style: italic;
	}
	
	#categories {
		background-color: #D3D3D3;
		
	}
	
	.Track {
		width: 10%;
		text-align: center;
	}

	.Title {
		width: 30%;
		text-align: center;
	}