	#categories {
		background-color: #D3D3D3;
	}
	
	ul {
		margin-left: 225px;
	}
	
	table {
		width: 85%;
		border-collapse: collapse;
	}
	
	table, th, td {
		border: 1px solid black;
		
	}
	
	td {
		height: 25px;
		width: 25px;
		vertical-align:middle;
		text-align: center;
	}
	
	#Track {
		width: 10%;
	}

	#Title {
		width: 30%;
	}