	/* Album image, title, band, album date */
	#backgroundImage {
		margin: auto;
		background-size: cover;
		width: 400px;
		height: 400px;
		background-image: url("http://s0.limitedrun.com/images/1046505/A_Great_Big_Pile_of_Leaves_-_You_re_Always_On_My_Mind_-_cover.png");
	}
	
	#bandSite {
		text-align: center;
	}
	
	h1 {
		font-family: 'Lalezar', cursive;
		text-align: center;
	}
	
	h3 {
		text-align: center;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}
	
	/* Band members and tracks */
	#members {
		font-family: 'Lalezar', cursive;
		text-align: center;
	}
	
	ul {
		margin-left: 160px;
	}
	
	li {
		font-style: italic;
	}
	
	table {
		width: 85%;
		border-collapse: collapse;
		margin: auto;
	}
	
	table, th, td {
		border: 1px solid black;
		
	}
	
	td {
		height: 25px;
		width: 25px;
		vertical-align:middle;
		text-align: center;
	}
	
	#categories {
		background-color: #D3D3D3;
	}
	
	#Track {
		width: 10%;
	}

	#Title {
		width: 30%;
	}
	