	/*Header and Footer for all three pages*/
	#fixedheader {
		top: 0px;
		left: 0px;
		width: 100%;
		padding-bottom: 30px;
		border-bottom: 1px solid black;
	}
	
	#fixedfooter {
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding: 0px;
		border-top: 1px solid black;
	}
	
	/*Additional styling for header */
	h1 {
		text-align: center;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
	}
	
	a {
		padding-left: 40px;
		
	}
	
	/*Additional styling for footer */
	h3 {
		text-align: center;
	}
	
	/*Styling for Menu page*/
	#menuItem {
		text-align: center;
	}
	
	.blank_row {
		height: 10px !important; /* Overwrite any previous rules */
	}
	
	#menu {
		width: 100%;
		padding-bottom: 30px;
	}