	/*Header and Footer for all three pages*/
	#fixedheader {
		top: 0px;
		left: 0px;
		width: 100%;
		padding-bottom: 20px;
		border-bottom: 1px solid black;
	}
	
	#fixedfooter {
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding: 0px;
		border-top: 1px solid black;
	}
	
	/*Additional styling for header */
	#restaurantName {
		text-align: center;
		padding-bottom: 30px;
		color: black;
		font-family: 'Lalezar', cursive;
	}
	
	a {
		padding-left: 40px;
		color: none;
	}
	
	a:visited {
		color: gray;
	}
	
	a:hover {
		font-weight: bold;
	}
	
	a:active {
		text-decoration: none;
	}
	
	#scriptDisabled {
		color: red;
	}
	
	.slidingText {
		color: orange;
	}
	
	/*Additional styling for footer */
	h3 {
		text-align: center;
	}
	
	/*Styling for Home page*/
	#descriptionBorder {
		width: 400px; 
		border: 2px solid black; 
		margin: auto; 
		background-color: white;
	}
	
	#restaurantDescription {
		 margin: 0; 
		 padding: 30px;
		 font-weight: bold;
		 text-align: left;
	}
	
	.homeBackground {
		background-color: orange;	
		height: 642px;
	}
			
	img {
		width:400px;
		height:250px;
		margin:auto;
		display: block;
		padding-top: 50px;
		padding-bottom: 50px;">
	}		
		
	/*Styling for Menu page*/	
	.menuBackground {
		background-color: orange;		
	}		
			
	h2{
		text-align: center;
	}
	
	.blank_row {
		height: 10px !important; /* Overwrite any previous rules */
		background-color: orange;
	}
	
	#menu {
		width: 100%;
		background-color: orange;
		padding-bottom: 30px;
	}
	
	#menuBackground {
		background-color: orange;
		background-size: cover;
	}
	
	.menuItem {
		text-align: center;
	}
	
	th {
		padding-top: 5px;
		padding-bottom: 3px;
		font-style: italic;
	}
	
	/*Styling for Contact page*/
	table {
		margin: 0 auto;
	}
			
	.value {
	
		padding: 10px;
	}
			
	.inputType {
		float: right;
		text-align: right;
		margin-right: 10px;
		font-weight: bold;
	}
			
	select {
		width: 203px;
	}
			
	.resizedTextbox {
		width: 200px;
		float: right;
	}
			
	#submitButton {
		float: right;
		text-align: right;
		margin-right: 10px;
	}
			
	textarea {
		width: 200px;
		height: 150px;
	}
	
	#contactForms {
		padding-top: 40px;
		padding-bottom: 40px;
		float: right;
	}
	
	.formTypes {
		padding-bottom: 20px;
	}