	/*Header and Footer for all three pages*/
	#fixedheader {
		top: 0px;
		left: 0px;
		width: 100%;
		padding-bottom: 30px;
		border-bottom: 1px solid black;
	}
	
	#fixedfooter {
		bottom: 0px;
		left: 0px;
		width: 100%;
		padding: 0px;
		border-top: 1px solid black;
	}
	
	/*Additional styling for header */
	h1 {
		text-align: center;
		border-bottom: 1px solid black;
		padding-bottom: 30px;
		font-family: 'Lalezar', cursive;
	}
	
	a {
		padding-left: 40px;
	}
	
	/*Additional styling for footer */
	h3 {
		text-align: center;
	}
	
	/*Styling for Home page*/
	#homeBackground {
		background-color: orange;	
		background-size: cover;
		width: 100%;
		height: 690px;
	}
	
	/*Styling for Menu page*/
	#menu {
		width: 100%;
		background-color: orange;
		padding-bottom: 30px;
	}
	
	#menuItem {
		text-align: center;
	}
	
	.blank_row {
		height: 10px !important; /* Overwrite any previous rules */
		background-color: orange;
	}
	
	/*Styling for Contact page*/
	table {
		margin: 0 auto;
	}
			
	#value {
		width: 65%;
	}
			
	#inputType {
		text-align: right;
		margin-right: 10px;
		font-weight: bold;
	}
			
	select {
		width: 203px;
	}
			
	.resizedTextbox {
		width: 200px;
	}
			
	#submitButton {
		margin-left: 600px
	}
			
	textarea {
		width: 200px;
		height: 150px;
	}
			